* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p,
label,
input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapperBig {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapperBig .wrapperForm {
  width: 800px;
  height: 600px;
  background-color: #f4f5fc;
  padding: 60.48px 67px 59.52px 68px;
  display: flex;
  flex-direction: row;
}

.wrapperBig .wrapperForm__banner {
  width: 137.2px;
  height: 100%;
  background-color: #5A61ED;
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
  position: relative;
}

.wrapperBig .wrapperForm__banner h2 {
  font-size: 49px;
  line-height: 63px;
  letter-spacing: 0.5px;
  font-weight: 400;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 73.98px;
  right: -45.3px;
}

.wrapperBig .wrapperForm__form {
  background-color: #FFFFFF;
  height: 100%;
  width: 527.8px;
  font-family: 'Work Sans', sans-serif;
  position: relative;
  padding: 38.52px 22.5px 43.48px 20.8px;
  color: #111111 !important;
  font-style: normal;
}

.wrapperBig .wrapperForm__form #my-svg-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.wrapperBig .wrapperForm__form form {
  position: relative;
  z-index: 1;
  margin-top: 20px;
}

.wrapperBig .wrapperForm__form form .inputRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17.18px;
}

.wrapperBig .wrapperForm__form form .inputRow__arrow {
  position: relative;
}

.wrapperBig .wrapperForm__form form .inputRow__arrow::after {
  content: '';
  background: url("../img/svg/arrow.svg");
  position: absolute;
  right: -1px;
  top: 25px;
  z-index: 5;
  display: inline-block;
  height: 4px;
  width: 8px;
}

.wrapperBig .wrapperForm__form form .inputRow__arrow_small::after {
  right: 0px;
  top: 12px;
}

.wrapperBig .wrapperForm__form form fieldset {
  border: none;
  flex-basis: 48%;
  position: relative;
}

.wrapperBig .wrapperForm__form form fieldset label {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #7C7C7C;
  display: block;
}

.wrapperBig .wrapperForm__form form fieldset input,
.wrapperBig .wrapperForm__form form fieldset select {
  border: none;
  border-bottom: 0.7px solid #F2F2F2;
  outline: none;
  width: 234.5px;
  background: transparent;
  font-size: 14px;
  color: #111111;
  font-family: 'Work Sans', sans-serif;
  padding-bottom: 8px;
}

.wrapperBig .wrapperForm__form form fieldset input:-webkit-autofill,
.wrapperBig .wrapperForm__form form fieldset select:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
  -webkit-text-fill-color: #111111 !important;
  color: #111111 !important;
}

.wrapperBig .wrapperForm__form form fieldset input[type=radio] {
  width: auto;
}

.wrapperBig .wrapperForm__form form fieldset input.error {
  color: #FF2222 !important;
  border-bottom: 0.7px solid #FF2222;
}

.wrapperBig .wrapperForm__form form fieldset label.error {
  position: absolute;
  color: #FF2222 !important;
}

.wrapperBig .wrapperForm__form form fieldset select {
  -webkit-appearance: none;
  position: relative;
}

.wrapperBig .wrapperForm__form form fieldset legend {
  color: #7C7C7C;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.wrapperBig .wrapperForm__form form fieldset #days {
  width: 56px;
}

.wrapperBig .wrapperForm__form form fieldset #months {
  width: 91px;
}

.wrapperBig .wrapperForm__form form fieldset #years {
  width: 67.67px;
}

.wrapperBig .wrapperForm__form form fieldset .genderBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  width: 123px;
}

.wrapperBig .wrapperForm__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.46px;
}

.wrapperBig .wrapperForm__title_small {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

input.genderBlock__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0;
}

input.genderBlock__radio + label {
  position: relative;
  padding: 0 0 0 18px;
  cursor: pointer;
}

input.genderBlock__radio + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 0.7px solid #5A61ED;
  border-radius: 6.3px;
  background: #FFF;
}

input.genderBlock__radio + label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 6.3px;
  background: #5A61ED;
  opacity: 0;
}

input.genderBlock__radio:checked + label:after {
  opacity: 1;
}

.bottomBlock {
  margin-top: 97.7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomBlock__question {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}

.bottomBlock__question a {
  color: #5A61ED;
}

.bottomBlock__button {
  background: #5A61ED;
  border: 0.5px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 18px;
  z-index: 3;
  font-family: 'PT Sans', sans-serif;
  outline: none;
  padding: 7px 26px 7px 25px;
  font-weight: normal;
  cursor: pointer;
}